# Binários
producer/producer
consumer/consumer
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
*.test
*.out
go.work
go.work.sum

# Dependências
vendor/
go.sum

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
